@import "variables";

body {
    background-color: #FFFFFF;
    .marginsforms {
        margin: 10px;
        .inputFile { 
            background-color: $backgrouond_White;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        input[type="file"]::file-selector-button {
            padding: 0.2em 0.4em;
            border-radius: 0.2em;
            background-color: $backgrouond_White;
            border: none;
            transition: 1s;
        }
    }
   
    .contentclient1 {
        .h3uno {
            background-color: $bgTextClient;
            width: 40%;
            margin: 15px 0px 15px 0px;
            padding: 8px 0px 8px 125px;
            font-size: 15px;
        }
        .formclient {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-right: 280px;
            label {
                display: block;
                margin-bottom: 10px;
            }
            input {
                width: 260px;
                border-radius: 30px;
                border: none;
                padding: 4px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
        .endrow {
            display: flex;
            flex-direction: row;
            justify-content: center;

            label {
                display: block;
                margin-bottom: 10px;
            }
            input {
                width: 260px;
                border-radius: 30px;
                border: none;
                padding: 4px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
    }

    .contentclient3 {
        .h3three {
            background-color: $bgTextClient;
            width: 60%;
            margin: 15px 0px 15px 0px;
            padding: 8px 0px 8px 125px;
            font-size: 15px;
        }
        .formdirection1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            label {
                display: block;
                margin-bottom: 10px;
            }
            input {
                width: 260px;
                border-radius: 30px;
                border: none;
                padding: 4px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
            .inputCityState {
                width: 120px;

                border-radius: 30px;
                border: none;
                padding: 4px;
            }
        }
        .formdirectionCityState {
            margin-left: 0px;
            display: flex;
            flex-direction: row;
        }
        .formdirection2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            label {
                display: block;
                margin-bottom: 10px;
            }
            input {
                width: 260px;
                border-radius: 30px;
                border: none;
                padding: 4px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
        .formdirection3 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-right: 280px;
            label {
                display: block;
                margin-bottom: 10px;
            }
            input {
                width: 260px;
                border-radius: 30px;
                border: none;
                padding: 4px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
    }
    
    .contentclient4 {
        display: flex;
        justify-content: center;
        margin: 30px 0px 150px 0px;
        .btnsaveclient {
            background-color: $backgrouond_Empresa;
            border-radius: 10px;
            padding: 15px 50px 15px 50px;
            border: none;
            color: $color_Text_White;
        }
        .btnsaveclient:hover{
            background-color: #9BBAA9;
            border-radius: 10px;
            padding: 15px 50px 15px 50px;
            border: none;
            color: $color_Text_White;
            cursor: pointer;
        }
    }
}

