
//PROFILE
$backgrouond_Empresa: #0D202B;
$color_Text_White: white;
$shadow_box1: rgba(0, 0, 0, 0.836) 0px 5px 15px;
$shadow_box2: rgba(80, 80, 80, 0.055) 0px 10px 20px, rgba(0, 0, 0, 0.048) 0px 6px 6px;
$shadow_box3: rgba(0, 0, 0, 0.925) 0px 5px 15px;
$shadow_box4: rgba(0, 0, 0, 0.336) 0px 5px 15px;

$backgrouond_White: white;
$lineDown: white;
$bgTextClient: #9BBAA9;
//OTRO